body {
    font-family: sans-serif;
    margin: 0;
    background-color: #f0f2f5;
}

.header {
    background-color: #fff;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    margin: 20px;
}

.left-container {
    width: 50%;
    margin-right: 20px;
}

.right-container {
    width: 50%;
}

#video-player {
    width: 100%;
    border: 1px solid #ddd;
}

#anomaly-details {
    margin-top: 20px;
}

#probability-label {
    font-size: 1.2em;
    font-weight: bold;
}

#top-classes {
    margin-top: 10px;
}

canvas {
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}